In [ ]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("../data/sales.db")

pd.read_csv ("../data/orders.csv").to_sql("orders", conn, if_exists="replace", index = False)
pd.read_csv("../data/customers.csv").to_sql("customers", conn, if_exists="replace", index = False)


conn.close()

In [30]:

conn = sqlite3.connect('../data/sales.db')

# Germany customers
q1 = """ SELECT * FROM customers WHERE country = 'Germany' """
print("Germany Customers: ")
print(pd.read_sql(q1, conn))

# small orders
q2 = """SELECT * FROM orders WHERE order_amount < 50 """
print("Small Orders: ")
print(pd.read_sql(q2, conn))

#total customers
q3 = """ SELECT COUNT(customer_id) as total_customers FROM customers"""
print('Total Customers: ')
print(pd.read_sql(q3,conn))

#total revenue
q4 = """ SELECT SUM(order_amount) as total_revenue FROM orders"""
print('Total Revenue: ')
print(pd.read_sql(q4, conn)) 

#top orders
q5 = """SELECT * FROM orders ORDER BY order_amount DESC LIMIT 5"""
print('Top 5 Orders: ')
print(pd.read_sql(q5, conn))

conn.close()

Germany Customers:
     customer_id signup_date  country
0           1001  2024-09-05  Germany
1           1007  2024-05-09  Germany
2           1012  2024-01-10  Germany
3           1013  2024-09-29  Germany
4           1021  2024-03-25  Germany
..           ...         ...      ...
103         1491  2024-03-06  Germany
104         1495  2024-01-14  Germany
105         1498  2024-04-20  Germany
106         1499  2024-02-01  Germany
107         1500  2024-06-27  Germany

[108 rows x 3 columns]
Small Orders:
     order_id  customer_id  order_date  order_amount
0       50033         1091  2024-12-05         44.24
1       50035         1374  2024-05-22         46.55
2       50048         1345  2024-07-09         48.15
3       50062         1315  2024-05-03         26.88
4       50064         1401  2024-07-02         33.71
..        ...          ...         ...           ...
117     51911         1401  2024-07-05         26.26
118     51930         1146  2024-10-22         38.84
119     51944         1149  2024-09-10         42.16
120     51982         1297  2024-04-22         22.89
121     51985         1215  2024-10-24         46.00

[122 rows x 4 columns]
Total Customers:
   total_customers
0              500
Total Revenue:
   total_revenue
0      524985.67
Top 5 Orders:
   order_id  customer_id  order_date  order_amount
0     51513         1373  2024-05-04        499.61
1     51487         1393  2024-09-27        499.41
2     51099         1266  2024-04-22        499.31
3     50995         1199  2024-05-24        499.18
4     50629         1068  2024-10-04        499.07